################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Basket.Api/obj
/Basket.Api/bin
/Basket.Common/obj
/Basket.BusinessLogic/obj
/Basket.BusinessLogic/bin
/Basket.Common/bin
